* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

rect {
  fill: rgb(135, 154, 173);
  rx: 6;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.5em;
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 4em;
  fill: #8e8883;
}

.title {
  font-size: 2.5em;
  fill: #635f5d;
}

circle {
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}
circle:hover {
  fill: purple;
  cursor: pointer;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 360px;
  height: 128px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
